{% extends 'webauftritt/base.html' %}
{% block title %}Unsere Pferde{% endblock %}
{% block body %}
    <section class="gallerie-block ">
        <div class="container">
            <div class="heading">
                <h1 class="display-4">Unsere Pferde</h1>
                <hr>
            </div>

            <div class="row no-gutters">
                {% for pferd in all_pferde %}
                    <div class="col-md-6 col-lg-4 item zoom-on-hover">
                        <a class="lightbox" href="{{ pferd.bild.url }}">
                            <img class="img-fluid" src="{{ pferd.bild.url }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.gallerie-block', {animation: 'slideIn'});
    </script>
{% endblock %}
