
body{
    background-color: white;
}

.navbar{
    background-color: darkgreen;
}

.navbar-brand{
    color: darkorange;
}

a{
    color: darkorange;
}

a:hover{
    color: darkgreen;
    background-color: darkorange;
}

ul.nav a:hover{
    color: darkgreen;
    background-color: darkorange;
}