{% extends 'reithof_organizer/base.html' %}
{% block title %}Konatkt{% endblock %}
{% block body %}

    <!--Kontaktformular-->
    <div class="container">
        <div class="role welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Kontakt</h1>
                <hr style="border-top: 2px solid #ff8300;">
            </div>
        </div>
        <form action="." method="post" class="needs-validation" role="form" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="vorname">Vorname</label>
                        <input type="text" name="vorname" id="vorname" class="form-control" pattern="\D+" required>
                        <div class="invalid-feedback">Bitte geben Sie Ihren Vornamen ein.</div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="nachname">Nachname</label>
                        <input type="text" name="nachname" id="nachname" class="form-control" pattern="\D+" required>
                        <div class="invalid-feedback">Bitte geben Sie Ihren Nachnamen ein.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" class="form-control" pattern="^\S+@\S+\.\S+$" required>
                <div class="invalid-feedback">Bitte geben Sie Ihre E-Mail-Adresse ein.</div>
            </div>
            <div class="form-group">
                <label for="betreff">Betreff</label>
                <input type="text" name="betreff" id="betreff" class="form-control" required>
                <div class="invalid-feedback">Bitte geben Sie einen Betreff ein.</div>
            </div>
            <div class="form-group">
                <label for="nachricht">Nachricht</label>
                <textarea class="form-control" rows="8" id="nachricht" name="nachricht"
                          placeholder="Schreib mal wieder..." required></textarea>
                <div class="invalid-feedback">Bitte geben Sie eine Nachricht ein.</div>
            </div>
            <div class="form-group">
                <button class="btn" type="submit">Senden</button>
            </div>

        </form>


        <!--Skript-Code zur Validierung-->
        <script>
            var form = document.querySelector('.needs-validation');

            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            })
        </script>


    </div>
{% endblock %}