{% extends 'reithof_organizer/base.html' %}
{% block title %}Registrierung{% endblock %}
{% block body %}
    <div class="container-fluid">

        <div class="container">
            <div class="role welcome text-center">
                <div class="col-12">

                    <h1 class="display-4">Registrieren</h1>
                    <hr>
                </div>
            </div>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            <form role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in profile_form %}
                    <div class="form-group">

                        <span class="text-danger small">{{ field.errors }}</span>

                        <label>{{ field.label_tag }}</label>
                        <div class="row no-gutters">
                            <div class="col-10">{{ field }}</div>
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">

                    <button type="submit" class="btn">Submit</button>

                </div>
                <div>
                    Du bist bereits registriert? <a href="#">Klicke hier</a> um dich einzuloggen.
                </div>
            </form>
        </div>

    </div>
    </div>
    </div>

    </div>
{% endblock %}
