{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'calendar/stylesheet.css' %}">
    <title>Kalender</title>
</head>

<body>

    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'calendar' %}?{{ prev_month }}"> Previous Month </a>
        <a class="btn btn-info right" href="{% url 'calendar' %}?{{ next_month }}"> Next Month </a>
    </div>

    {{calendar}} <!-- variable get Calendar-items from view.py -->

</body>
</html>
