{% extends 'mitgliederbereich/base.html' %}
{% load static %}
{% block title %}Kurse{% endblock %}
{% block body %}
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Meine Kurse:</h1>
            </div>
            <hr>

        </div>
    </div>
{% if not kurse %}
    <h2>In keinem Kurs eingetragen</h2>
    {% else %}
    {% for kurs in kurse %}
        <h1>{{ kurs.name }}</h1>
    {% endfor %}
{% endif %}


{% endblock %}