{% extends 'mitgliederbereich/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Meine Pferde{% endblock %}
{% block body %}
        <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Meine Pferde:</h1>
            </div>
            <hr>

        </div>
    </div>
{% if not all_user_pferde %}
    <h2>Keine Pferde vorhanden</h2>
    {% else %}
    {% for pferd in all_user_pferde %}
        {% if pferd.bild %}
        <a href="{% url 'pferd_standort' pferd.pk %}"><img src="{{ pferd.bild.url }}" width="300" height="300"></a>
        {% else %}
        <a href="{% url 'pferd_standort' pferd.pk %}">KEIN BILD</a>
        {% endif %}
    {% endfor %}
{% endif %}

    <div class="row justify-content-center mx-auto">
    <div class="col-lg-4 col-md-8">
        <div class="card">
            <div class="card-body">
                <h2>Pferd hinzufügen</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <button class="btn" type="submit">Speichern</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}