{% extends 'mitgliederbereich/base.html' %}
{% load static %}
{% block title %}Standort{% endblock %}
{% block body %}

    <script>$(window).on('map:init', function (e) {
    var detail = e.originalEvent ?
                 e.originalEvent.detail : e.detail;
    map.setView(new L.LatLng({{ pferd.kategorie.lat }},{{ pferd.kategorie.long }}));
    map.setZoom(3);
    L.marker([{{ pferd.kategorie.lat }},{{ pferd.kategorie.long }}]).addTo(detail.map).bindPopup("<b>Hallo!</b><br>Mein Rufname ist {{ pferd.rufname }} und ich bin hier!").openPopup();


});</script>
{% endblock %}